/* notaryproject-docsy full file override: we're not tracking changes to the docsy base file. */

$notaryproject-grey: #363636;
$notaryproject-light-grey: lighten($notaryproject-grey, 10%);
$notaryproject-dark-grey: darken($notaryproject-grey, 20%);

$primary: #fff;
$secondary: $notaryproject-light-grey;

$enable-rounded: false;

// // Forward definitions of Bootstrap and Docsy variables
// // TODO: add value checks later in the import chain

// $_font-weight-light: 300;
$_yellow:  #ffc107;

// // Display styles: prefer Bootstrap defaults to Docsy's overrides
// $display1-weight: $_font-weight-light;
// $display2-weight: $_font-weight-light;
// $display3-weight: $_font-weight-light;
// $display4-weight: $_font-weight-light;

$warning: $_yellow; // Use Bootstrap default
