<section class="blogs-section">
  <h2 class="title">News & Blogs</h2>
  <div class="gap-lg is-centered width-70 is-mobile-responsive flex">
    {{- $blogList := where .Site.RegularPages "Section" "blog" -}} {{-
    $firstBlog := index $blogList 0 -}}
    <!-- Check if the first blog item exists -->
    {{- if $firstBlog -}} {{- $image := "" -}} {{- if $firstBlog.Params.image
    -}} {{- $image = $firstBlog.Params.image -}} {{- else -}} {{- $image =
    "logo.svg" -}} {{- end -}}
    <div class="verticalCard flex-30">
      <div class="img-container-md fullwidth is-centered">
        <img src="{{ $image }}" alt="Notary fuzz test" />
      </div>
      <div class="text-container-blog flex-30 text-left">
        <h3>{{ $firstBlog.Title }}</h3>
        <div
          class="gap-md is-align-items-center margin-sm-top-bottom flex blog-color"
        >
          <h5>{{ $firstBlog.Date.Format "January 2, 2006" }}</h5>
          <div class="tag">Blog</div>
        </div>
        <div class="flex flex-col gap-md">
          <p class="font-size-sm blog-color blog-content">
            {{ $firstBlog.Plain | safeHTML | truncate 150 }}
          </p>
          <a href="{{ $firstBlog.RelPermalink }}">
            <button class="btn-secondary">Learn more</button>
          </a>
        </div>
      </div>
    </div>
    {{- end -}}

    <div class="flex-70 blog-groups gap-lg">
      {{- range $index, $blog := $blogList | first 4 -}} {{- if ne $index 0 -}}
      {{- $image := "" -}} {{- if $blog.Params.image -}} {{- $image =
      $blog.Params.image -}} {{- else -}} {{- $image = "logo.svg" -}} {{- end
      -}}
      <div class="horizontalCard">
        <div class="img-container-lg flex-30">
          <img src="{{ $image }}" alt="notary logo" />
        </div>
        <div class="text-container-blog flex-70 text-left">
          <h3>{{ $blog.Title }}</h3>
          <div
            class="gap-md is-align-items-center margin-sm-top-bottom flex blog-color"
          >
            <h5>{{ $blog.Date.Format "January 2, 2006" }}</h5>
            <div class="tag">Blog</div>
          </div>
          <a href="{{ $blog.RelPermalink }}">
            <button class="btn-secondary">Learn more</button>
          </a>
        </div>
      </div>
      {{- end -}} {{- end -}}
    </div>
  </div>
</section>
