<section class="news is-medium flex justify-center">
    <p class="is-size-3-mobile">
      <a href="https://github.com/notaryproject/notation/releases/tag/v1.1.0" class="banner-link">Notation v1.1.0 is available</a>
      <span>
        {{ $rocketIcon := resources.Get "icons/rocket-icon.svg" }}
        <img
        src="{{ $rocketIcon.RelPermalink }}"
        class="img-container-xxxsm"
        alt="star icon"
        /></span>
        
          <b>Notation is now GA and considered ready for production environments.</b>
        
  </p>
</section>
