<section class="news is-medium flex justify-center">
    <p class="is-size-3-mobile">
      <a href="https://github.com/notaryproject/notation/releases/tag/v1.0.0-rc.7" class="banner-link">Notation v1.0.0-RC.7 is available</a>
      <span>
        {{ $rocketIcon := resources.Get "icons/rocket-icon.svg" }}
        <img
        src="{{ $rocketIcon.RelPermalink }}"
        class="img-container-xxxsm"
        alt="star icon"
        /></span>
        <b>Notation is currently in the release candidate phase. Some missing features and docs are expected until GA.</b>
  </p>
</section>
