<div style="display:flex ;background: linear-gradient(84.89deg,#32BFFC -3.17%,#5350e2 97.59%);justify-content: center;">
  
  <a href="https://github.com/notaryproject/notation/releases/tag/v1.0.0-rc.4" class="banner-link" style="color:rgb(255, 255, 255); margin-top: 4px;">Notation v1.0.0-RC.4 is available</a>
     <span><img src="/notaryproject.dev/assets/icons/rocket-icon.svg" class="img-container-xxxsm" alt="star icon" style="margin-top: 4px;"></span>
     <p style="display: inlide-block; color:rgb(255, 255, 255); margin-top: 4px;">Notation is currently in the release candidate phase. Some missing features, documentation, and instability are expected until GA.</p>
     
 
 </div>